// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-container{
	padding:2%;
}

.account-info{
	width:66%;
	margin: 0 auto;
	border: 5px solid darkgrey;
	border-radius:5px;
}

.account-avatar{
	margin: 2%;
	float: left;
	display:flex;justify-content:center;align-items:center;
}

.set-vert-margins{
	margin-top: 5px;
	margin-bottom: 5px;
}

